.trans-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trans-margin {
  display: block;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center--ver {
  display: flex;
  align-items: center;
}
.flex-center--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

#scrollBtn {
  font-size: 3.6rem;
  color: var(--secondary-color);
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 10px;
  transition: all 0.25s ease-in-out;
}
#scrollBtn:hover, #scrollBtn:active {
  transform: scale(1.2);
  color: var(--dark-grey);
}

.us-field {
  outline: none !important;
  border-radius: 6px;
  padding: 0.4rem 1.8rem;
  height: 2.8rem;
  font-size: 1.4rem;
  border: solid 1px var(--light-grey);
  color: var(--text-color);
}
.us-field.large {
  padding: 0.8rem 1.8rem;
  font-size: 1.5rem;
  height: 4.2rem;
}
.us-field.medium {
  padding: 0.6rem 1.6rem;
  font-size: 1.5rem;
  height: 3.6rem;
}

.us-btn {
  outline: none !important;
  border-radius: 6px;
  padding: 0.4rem 1.8rem;
  height: 2.8rem;
  font-size: 1.4rem;
  transition: all 0.25s ease-in-out;
  color: var(--white);
  border: none;
  cursor: pointer;
}
.us-btn.large {
  padding: 0.8rem 1.8rem;
  font-size: 1.5rem;
  height: 4.2rem;
}
.us-btn.medium {
  padding: 0.6rem 1.6rem;
  font-size: 1.5rem;
  height: 3.6rem;
}
.us-btn:hover, .us-btn:active {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
}
.us-btn-primary {
  background-color: var(--primary-color);
}
.us-btn-secondary {
  background-color: var(--secondary-color);
}

.us-title {
  font-size: 3.6rem;
  color: var(--title-color);
  font-weight: 700;
  text-align: center;
}

.us-title-sec {
  font-size: 3.6rem;
  color: var(--secondary-color);
  position: relative;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.us-title-sec::after {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
}

.us-sub-title {
  color: var(--title-color);
  opacity: 0.85;
  text-align: center;
  font-size: 1.6rem;
}

.cursor-pointer {
  cursor: pointer;
}

.us-form {
  padding: 2.4rem 3.6rem;
  box-shadow: 0 2px 14px 0px rgba(0, 0, 0, 0.12);
  width: 350px;
}
.us-form-title {
  color: var(--title-color);
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  font-weight: bold;
}
.us-form-icon {
  font-size: 4.8rem;
  color: var(--text-color);
  margin-bottom: 1.8rem;
}
.us-form-field {
  width: 100%;
  margin: 8px 0;
}
.us-form-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1.5rem;
}
.us-form-link:hover, .us-form-link:active {
  color: var(--secondary-color);
}
.us-form-text {
  color: var(--text-color);
  font-size: 1.5rem;
}

/*# sourceMappingURL=atomic.css.map */
