:root {
	/* color palettes */
	--body-bg-color: #fff;
	--white: #fff;

	--title-color: #191932;
	--text-color: #1e1e1e;

	--primary-color: #0080cc;
	--secondary-color: #ee8822;

	--label-color: #6e6e6e;

	--dark-color: #0c76af;
	--light-color: #e5e5e5;
	--light-grey: #ccc;
	--grey: #888;
	--medium-grey: #5e5e5e;
	--dark-grey: #333;

	--error-color: #e62c0c;

	/* size */
	--header-top-height: 8.2rem;
	--nav-height: 5.6rem;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	height: 100%;
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	position: relative;
	color: var(--text-color);
	background: var(--body-bg-color);
}

.us-wrapper {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}

p {
	word-wrap: break-word;
}

ol,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (max-width: 576px) {
	html {
		font-size: 45%;
	}
}
