mixin header
  header.header
    .header-top.container.flex-center-between
      a(href="/")
        img.header-logo(src="./assets/images/logo.png", alt="Logo Photo")
      .search-bar.flex-center--ver
        input.us-input.mr-4(autofocus placeholder="Nhập từ khoá" max-length="100")
        i.fal.fa-search.cursor-pointer
    nav#headerNavWrapper.header-nav-wrap.w-100 
      ul#headerNav.header-nav.d-flex.h-100.container
        //-  Navigation được render bởi file header.js


