mixin header
  header.header
    .header-top.container.flex-center-between
      a(href="/")
        img.header-logo(src="/assets/images/logo.png", alt="Logo Photo")
      .search-bar.flex-center--ver
        input.us-field.mr-4(placeholder="Nhập từ khoá" maxLength="100")
        i.fa.fa-search.cursor-pointer
    nav#headerNavWrapper.header-nav-wrap.w-100 
      ul#headerNav.container.d-flex.h-100
        //- Common navigation được render bởi file header.js
        #commonNav.d-flex.h-100
    
        if !user
          li.header-nav-item
            a.header-nav-link(href="/account/signup") Đăng ký
          li.header-nav-item
            a.header-nav-link(href="/account/login") Đăng nhập
        else 
          li.header-nav-item
              a.header-nav-link(href="/account/logout") Đăng xuất
          li.header-nav-item
            a(href=`/user/${user.MA_ND}`).flex-center--ver
              .header-nav-link= user.HO_TEN
              - const imgSrc = user.AVATAR && user.AVATAR !== '' ? user.AVATAR : '/assets/icons/default-user.png'
              img.ml-2(src=imgSrc alt="Avatar" height="28" width="28" style="border-radius:50%") 