mixin student-nav 
  nav#studentNav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href=`#`)
            | Thông tin cá nhân
            span.sr-only (current)
        li.nav-item
          a.nav-link(href=`/user/${user.MA_ND}/learning-result`) Tra cứu kết quả học tập
        li.nav-item
          a.nav-link(href=`/user/${user.MA_ND}/time-table`) Xem thời khoá biểu 
        li.nav-item
          a.nav-link(href=`/user/${user.MA_ND}/exam`) Làm bài thi - kiểm tra
     

