extends ./template/general.pug
block style
  link(rel="stylesheet" type="text/css" href="/styles/css/header.css" )
block content
  .w-100vw.h-100vh.d-flex.flex-column
    include ./mixin/header.pug
    +header

    .flex-grow-1.flex-center
      img(src="/assets/images/404.png" alt="404 Not Found" width="350" height="170")
block script 
  script(src="/scripts/header.js") 

