extend ./template/general.pug

block style
  link(rel="stylesheet" type="text/css" href="/styles/css/exam.css")

block content
  .exam-wrapper(oncopy="return false" oncut="return false" onpaste="return false")
    //- header
    section.exam-header.flex-center-between
      h1#examTitle.title
      .submit-btn.flex-center Nộp bài

    //- content
    section.exam-content
      .question-wrap 
        h2#questionNum.question-title
        .question#question Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate eum ducimus voluptatum | dolorum perferendis itaque facilis aspernatur delectus? Vitae, mollitia.
      
      .answer-wrap 
        h2.answer-title Chọn 1 câu trả lời
        ul#answer.answer
          
      .sheet-wrap 
        h2.sheet-title Bảng câu trả lời
        ul.sheet#sheet
        
    //- footer
    section.exam-footer.flex-center-between
      .time-left #[u Thời gian còn lại]: #[span.time#timeLeft]
      .button-group
        button.us-btn.us-btn-primary 
          span= `<< Quay lại câu cũ`
         
        button.us-btn.us-btn-secondary= `Câu kế tiếp >>`

block script
  script(src="/scripts/exam.js") 