extends ./template/general.pug

block style 
  link(rel="stylesheet" type="text/css" href="/styles/css/header.css" )
  link(rel="stylesheet" type="text/css" href="/styles/css/home.css" )

block content
  .us-wrapper
    //- header
    include ./mixin/header.pug
    +header
    
    //- slider
    #slider.carousel.slide(data-ride="carousel" data-interval="3000")
      ol.carousel-indicators
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            li.active(data-target="#slider" data-slide-to=val)
          else 
            li(data-target="#slider" data-slide-to=val)

      .carousel-inner
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            .carousel-item.active
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")
          else
            .carousel-item
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")

    //- filter
    section.filter.container 
      .filter-wrapper
        .filter-content
          h1.filter-content-title.text-center.mb-4 Tìm khóa học quan tâm. #[strong Học chắc từ nền tảng - ứng dụng hiệu quả CNTT vào thực tế cuộc sống]
          form.filter-content-form.flex-center
            input.us-field.large(placeholder="Nhập môn học, từ khoá ...")
            select#eduProgramSelect.us-field.large.mx-4(default-value="-1")
              //- option được render trong home.js
            button.us-btn.us-btn-secondary.large Tìm thông tin

    //- education program
    section.edu-program 
      .edu-program-title.container.mb-4
        h1.us-title Chương trình đào tạo
        p.us-sub-title Chương trình học đa dạng và thường xuyên cập nhật công nghệ mới. #[br/]Hãy để chúng tôi đồng hành cùng bạn trên hành trình chinh phục tri thức - vững vàng bước vào thế giới công nghệ 4.0.
      .edu-program-wrapper 
        #eduProgram.container.edu-program-container
          //- render trong file home.js
         
    //- Exam calendar
    section.exam-calendar-wrapper
      .container.flex-center
        .exam-calendar.position-relative
          h4.exam-calendar-top-title Lịch thi 
          a(href="#")
            h2.exam-calendar-title chứng chỉ tin học quốc gia
            p.exam-calendar-sub-title Dành cho Thí sinh tự do

block script 
  script(src="/scripts/header.js") 
  script(src="/scripts/home.js") 