extends ./template/general.pug


block style 
  link(rel="stylesheet" type="text/css" href="/styles/css/header.css" )
  link(rel="stylesheet" type="text/css" href="/styles/css/home.css" )

block content
  .us-wrapper
    //- header
    include ./mixin/header.pug
    +header
    
    //- slider
    #slider.carousel.slide(data-ride="carousel" data-interval="3000")
      ol.carousel-indicators
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            li.active(data-target="#slider" data-slide-to=val)
          else 
            li(data-target="#slider" data-slide-to=val)

      .carousel-inner
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            .carousel-item.active
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")
          else
            .carousel-item
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")
block script 
  script(src="/scripts/header.js") 