extends ./template/general.pug

block style 
  link(rel="stylesheet" type="text/css" href="/styles/css/header.css" )
  link(rel="stylesheet" type="text/css" href="/styles/css/home.css" )

block content
  .us-wrapper
    //- header
    include ./mixin/header.pug
    +header
    
    //- slider
    #slider.carousel.slide(data-ride="carousel" data-interval="3000")
      ol.carousel-indicators
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            li.active(data-target="#slider" data-slide-to=val)
          else 
            li(data-target="#slider" data-slide-to=val)

      .carousel-inner
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            .carousel-item.active
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")
          else
            .carousel-item
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")

    //- filter
    section.filter.container 
      .filter-wrapper
        .filter-content
          h1.filter-content-title.text-center.mb-4 Tìm khóa học quan tâm. #[strong Học chắc từ nền tảng - ứng dụng hiệu quả CNTT vào thực tế cuộc sống]
          form.filter-content-form.flex-center
            input.us-field.large(placeholder="Nhập môn học, từ khoá ...")
            select#eduProgramSelect.us-field.large.mx-4(default-value="-1")
              //- option được render trong home.js
            button.us-btn.us-btn-secondary.large Tìm thông tin

    //- education program
    section.edu-program 
      .edu-program-title.container.mb-4
        h1.us-title Chương trình đào tạo
        p.us-sub-title Chương trình học đa dạng và thường xuyên cập nhật công nghệ mới. #[br/]Hãy để chúng tôi đồng hành cùng bạn trên hành trình chinh phục tri thức - vững vàng bước vào thế giới công nghệ 4.0.
      .edu-program-wrapper 
        #eduProgram.container.edu-program-container
          //- render trong file home.js
         
    //- Exam calendar
    section.exam-calendar-wrapper
      .container.flex-center
        .exam-calendar.position-relative
          h4.exam-calendar-top-title Lịch thi 
          a(href="#")
            h2.exam-calendar-title chứng chỉ tin học quốc gia
            p.exam-calendar-sub-title Dành cho Thí sinh tự do

    //- Support utilities
    section.support-util.container 
      h1.us-title.mb-5 Tiện ích hỗ trợ
      .support-util-wrapper.row
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/kho-de.jpg")
            h4 Kho đề thi mẫu
          p Kho đề thi mẫu và video hướng dẫn giải đề giúp học viên ôn tập cho kì thi chứng chỉ Ứng Dụng CNTT cơ bản và nâng cao.
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/tra-cuu-diem.jpg")
            h4 Tra cứu điểm thi
          p Hỗ trợ học viên tra cứu kết quả thi được Trung Tâm thông báo sau ngày thi 2 tuần.
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/lop-hoc-tt.jpg")
            h4 Lớp học trực tuyến
          p Các lớp học bổ sung kiến thức CNTT, học trực tiếp với giáo viên qua mạng Internet.
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/kho-de.jpg")
            h4 Tra cứu chứng chỉ
          p Hỗ trợ học viên tra cứu chứng chỉ được Trung Tâm cấp sau ngày thi 1,5 tháng.

    //- Teacher section
    section
      h1.us-title.mb-5 Đội ngũ giáo viên
      .teacher-wrapper.w-100
        .container.position-relative.h-100
          img.teacher-slogan(src="/assets/images/teachers/slogan.png" alt="Slogan")
          ul.teacher-list
            a.flex-center(href="#")
              li.teacher-avatar(data-toggle="tooltip" title="Nguyễn Anh Khoa")
                img(src="/assets/images/teachers/anh_khoa.png" alt="Teacher Photo")
            a.flex-center(href="#")
              li.teacher-avatar(data-toggle="tooltip" title="Đỗ Hữu Viên")
                img(src="/assets/images/teachers/Dohoa-do-huu-vien.jpg" alt="Teacher Photo")
            a.flex-center(href="#")
              li.teacher-avatar(data-toggle="tooltip" title="Trần Thị Yến Nhi")
                img(src="/assets/images/teachers/giang-vien-lap-trinh-tran-thi-yen-nhi.png" alt="Teacher Photo")
            a.flex-center(href="#")
              li.teacher-avatar(data-toggle="tooltip" title="Huỳnh Chí Nhân")
                img(src="/assets/images/teachers/Huynh-Chi-Nhan.jpg" alt="Teacher Photo")
            a.flex-center(href="#")
              li.teacher-avatar(data-toggle="tooltip" title="Nguyễn Thị Diệu Hiền")
                img(src="/assets/images/teachers/nguyen-thi-dieu-hien.jpg" alt="Teacher Photo")
            a.flex-center(href="#")
              li.teacher-avatar(data-toggle="tooltip" title="Trần Thị Hồng Yến")
                img(src="/assets/images/teachers/tran_thi_hong_yen_lap_trinh_c.jpg" alt="Teacher Photo")

block script 
  script(src="/scripts/header.js") 
  script(src="/scripts/home.js") 