.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^='col-'],
  & > [class*=' col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

// jquery validation error
label.error {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  color: var(--error-color);
}
