@import './mixin.scss';
$filterDistance: 4.8rem;
$sliderHeight: 36rem;

section {
  margin-top: 8px;
  margin-bottom: 8px;
}

// Tuỳ chỉnh slider
#slider {
  height: $sliderHeight;

  .carousel-item img {
    height: $sliderHeight;
  }

  .carousel-indicators {
    margin-bottom: $filterDistance;
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 4px;
}

// section: filter
.filter-wrapper {
  background-color: rgba(#111, 0.65);
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 8px;

  position: relative;
  bottom: $filterDistance;
}

.filter-content {
  &-title {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: normal;
  }
}

// section: education program
.edu-program-wrapper {
  position: relative;
  background-image: url('/assets/images/edu-program-bg.jpg');
  margin: auto;
  padding: 3rem 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom center;
}

.edu-program-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.edu-program-box {
  min-height: 18.5rem;

  opacity: 0.85;
  padding: 2.4rem 0.8rem;
  cursor: pointer;
  text-align: center;

  @include transition;
  &:hover,
  &:active {
    opacity: 1;
  }

  &-title {
    color: var(--white);
    font-size: 2rem;
  }

  &-icon {
    margin-top: 8px;
    width: 5.4rem;
    height: 5.4rem;
  }
}

// responsive
@media only screen and (max-width: 992px) {
  .edu-program-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .edu-program-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .edu-program-box {
    min-height: 15rem;
    padding: 1.8rem 0.8rem;

    &-title {
      font-size: 1.6rem;
    }

    &-icon {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}

// section: exam calendar
.exam-calendar {
  border: solid 1px var(--white);
  padding: 0 4.8rem;

  &-wrapper {
    width: 100%;
    background-color: var(--primary-color);
    margin-top: 1.6rem;
    padding: 3.2rem 0;
  }

  &-top-title {
    color: var(--white);
    font-size: 2.2rem;
    padding: 0 1.6rem;

    position: absolute;
    top: -1.3rem;
    left: 50%;

    transform: translateX(-50%);
    background-color: var(--primary-color);
  }

  &-title {
    text-transform: uppercase;
    font-size: 3.2rem;
    padding: 1.2rem 2.4rem;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 1px;
    margin-top: 1.8rem;
  }

  &-sub-title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 1.6rem;
  }
}

// section: support utilities
.support-util {
  margin: 3.2rem auto;
}

.support-util-box {
  margin-bottom: 16px;

  img {
    width: 15rem;
    height: 15rem;
    @include transition;

    &:hover,
    &:active {
      transform: scale(1.05);
    }
  }

  h4 {
    text-align: center;
    margin: 1.2rem 0;
    font-size: 2.2rem;

    color: var(--grey);
    font-weight: 400;
    @include transition;

    &:hover,
    &:active {
      color: var(--secondary-color);
    }
  }

  p {
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: center;
    max-width: 80%;
  }
}

// section: teacher
.teacher-wrapper {
  background-image: url('/assets/images/teachers/teacher-bg.jpg');
  background-size: cover;
  height: 600px;
}

.teacher-slogan {
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
}

.teacher-list {
  padding: 16px;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  position: absolute;
  top: 0;
  left: 0;
}

.teacher-avatar {
  img {
    border-radius: 50%;
    max-height: 165px;
    @include transition(0.5s);

    &:hover,
    &:active {
      border-radius: 0;
    }
  }
}

// section: student's feeling
.student-feel-wrapper {
  background-image: url('/assets/images/student-feeling/bg_Y_Kien_HV.jpg');
  background-size: cover;
  min-height: 360px;
  padding: 2.4rem 0;
}

.student-avt {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}

.student-blockquote {
  margin-left: 1.6rem;
  position: relative;

  &::before {
    content: '"';
    font-weight: 500;
    font-size: 5.2rem;
    color: var(--white);

    position: absolute;
    top: -2.6rem;
    left: -2.6rem;
  }

  .quote {
    color: var(--white);
    text-align: justify;
    font-size: 2.4rem;
    font-style: italic;
    line-height: 1.85;
    max-width: 780px;
  }

  .author {
    color: var(--white);
    text-align: end;
    font-size: 1.6rem;
  }
}

// section: statistic
.statistic {
  margin: 3.6rem auto;

  &-title {
    color: var(--title-color);
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
  }

  &-icon {
    font-size: 5.4rem;
  }

  &-count {
    font-size: 3.6rem;
    margin: 4px 0;
    font-weight: 500;
    color: var(--dark-grey);
  }

  &-unit {
    font-size: 1.8rem;
  }
}

// section: contact
.contact {
  &-title {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 2.4rem;
    padding: 8px 12px;
    border-radius: 6px;
  }

  &-infor {
    border: solid 1px var(--light-grey);
    padding: 8px 12px;
    border-radius: 6px;

    li {
      font-size: 1.6rem;
      color: var(--text-color);
      line-height: 2;
    }

    i {
      margin-right: 8px;
    }
  }
}

.map {
  width: 100%;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .teacher-avatar img {
    max-height: 120px;
  }

  .student-blockquote .quote {
    font-size: 1.6rem;
  }

  .student-avt {
    height: 15rem;
    width: 15rem;
  }
}
