$filterDistance: 5.6rem;
$sliderHeight: 36rem;

// Tuỳ chỉnh slider
#slider {
  height: $sliderHeight;
}

.carousel-indicators {
  margin-bottom: $filterDistance;

  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 4px;
  }
}

.carousel-item img {
  height: $sliderHeight;
}

// filter
.filter-wrapper {
  background-color: rgba(#111, 0.65);
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 8px;

  position: relative;
  bottom: $filterDistance;
}

.filter-content {
  &-title {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: normal;
  }
}
