//- header block
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon")
  title #{title || 'Trung tâm tin học Khoa Học Tự Nhiên'}
  
  //- google font
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet")
  
  //- font-awsome
  link(rel='stylesheet' type="text/css" href='/vendors/font-awesome/css/all.min.css' )

  //- bootstrap 4
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")  

  //- global css
  link(rel='stylesheet' type='text/css' href='/styles/css/reset.css')
  link(rel='stylesheet' type='text/css' href='/styles/css/atomic.css')
  link(rel='stylesheet' type='text/css' href='/styles/css/custom-bootstrap.css')
  
  //- style block
  block style
body
  
  //- content block
  block content

  //- scroll button
  i#scrollBtn.fas.fa-chevron-square-down


  script(src='/vendors/jquery/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  script(src="/scripts/general.js") 
  //- script block
  block script


